createdAt: "2018-10-17T00:02:40.321Z"
updatedAt: "2018-11-10T03:11:14.723Z"
type: "MARKDOWN_NOTE"
folder: "d2d6983005c94aa457ea"
title: "杂记"
content: '''
  # 杂记
  
  教学体系：
  
  第一阶段：语言架构基础
         熟练掌握语言基础(xml文件处理、properties文件处理)，了解哪些是重点，哪些可以忽略，哪些需要了解，对语言架构基础有个初步的了解。
  
  第二阶段:  Web页面技术
      1)Html,css,Javascript,Jquery,Easyui,json,ajax,angular,vue, 单选、多选、下拉、单文件上传、多文件上传。
      2)路由理解
      3)调试环境搭建
  
  第三阶段: 安全相关
      1) 熟悉Cookie,Session
      2)权限相关逻辑
      3)日志处理
      4)全局变量(开关)获取
  
  第四阶段: get/post/put/delete
      1)get处理逻辑
      2)post处理逻辑
      3)post数组读取 data['name'],data['mobile'] 提交后如何处理
      4)json提交、json读取
      5)put处理
      6)header的添加、读取
      7)数组、json之间转换、读取
  
  第五阶段: CURD,MVC必须熟练。
      熟悉CURD，MVC技术，
      1)MODEL校验，错误提示。
      2)一对一关联查询
      3)一对多关联查询
      4)条件查询
      5)一对一关联保存
      6)一对多关联保存
      7)多对多关联保存
      8)单记录查询
      9)多模块处理
  
  第六阶段: 多数据源
      1)  多数据源配置
      2)多数据源读取
      3) 开发、生产环境如何快速切换
  
  第七阶段: 队列理解
      1) 定时任务
      2)redis
      3) rabbitmq
  
  
  第八阶段：
  
'''
tags: []
isStarred: false
isTrashed: false
