createdAt: "2018-11-06T01:38:25.772Z"
updatedAt: "2018-11-06T01:45:18.614Z"
type: "MARKDOWN_NOTE"
folder: "62b3c55f19f28698de9c"
title: "资源介绍"
content: '''
  资源介绍
  yii 学习
  
  电子书
  http://www.yiibook.com/book/yii1.1_application_development_cookbook/chapter-1
  
  入门介绍
  http://www.digpage.com/app_struct.html
  
  
  视频
  http://www.yiichina.com/doc/internals/2.0
  
  http://www.digpage.com/video_1.html
  
  优秀源码
  http://www.yiichina.com/code
  
  
  不错的资源
  http://www.yiifans.com/forum.php?mod=forumdisplay&fid=2
  
  
  http://www.getyii.com/getstart
  http://blog.csdn.net/column/details/mapdigityiiframework.html
  http://demo.bsourcecode.com/yiiframework/linecharts/chartwithlabels
  http://www.getyii.com/topic/561
  
  yii小帖士，非常有用的一些资料
  http://www.getyii.com/topic/47
  
  
  yii执行流程
  http://www.cnblogs.com/bluecobra/archive/2011/11/30/2269207.html
  
  yii 非常不错的grid
  http://yiister.ru/projects/advanced-grid
'''
tags: []
isStarred: false
isTrashed: false
