createdAt: "2018-11-06T01:40:49.636Z"
updatedAt: "2018-11-06T01:40:57.217Z"
type: "MARKDOWN_NOTE"
folder: "7fc9ceb275c446acd7c8"
title: "资源介绍"
content: '''
  资源介绍
  https://phphub.org/
  http://www.golaravel.com/
  
  http://laravelacademy.org/resources-download
  http://laravelacademy.org/post/2100.html
  https://lvwenhan.com/laravel/435.html
  
  极客学院
  http://jingpin.jikexueyuan.com/zhuti/laravel/
'''
tags: []
isStarred: false
isTrashed: false
