createdAt: "2018-11-06T00:11:45.835Z"
updatedAt: "2018-11-06T00:12:07.188Z"
type: "MARKDOWN_NOTE"
folder: "7fc9ceb275c446acd7c8"
title: "laravel cms"
content: '''
  # laravel cms
  laravel框架
  
  https://gitee.com/cc-sponge/Alpaca-Spa-Laravel
  Alpaca-Spa-Laravel 是用Alpaca-Spa + Laravel 前后端分离开发的一款后台管理系统的DEMO. 主要功能模块有登录、定时任务管理、用户管理、权限管理、个人信息管理等。在实际开发中可以根据具体的需求添加新的功能。 开发模式为前后分离开发，Alpaca-Spa负责实现前端功能，包括组织页面结构，渲染页面数据、样式，交互逻辑等，Laravel负责提供后台功能，访问数据库，处理业务逻辑，提供数据接口给前端，
  
  
  https://gitee.com/ctk/laravel5_backend
  基于laravel 5 框架的后台基础系统。包括登录验证、用户管理，修改密码，用户权限，用户组权限，功能管理，系统日志，文件上传、工作流。目前还附加了简单的blog功能。可以快速基于此系统进行laravel5的快速开发，免去每次都写一次后台基础的痛苦。
  
  
  
  
  
  https://github.com/zoutapps/laravel-backpack-multiauth
  zoutapps/laravel-backpack-multiauth
  感觉还可以，学习下
  
  
  https://github.com/novius/laravel-backpack-crud-extended
  
  
  https://github.com/seandowney/laravel-backpack-gallery-crud
  https://github.com/seandowney/laravel-backpack-events-crud
  
  https://github.com/shahzad-saddam/laravel-backpack-ready
  https://github.com/novius/laravel-backpack-base-extended
'''
tags: []
isStarred: false
isTrashed: false
