createdAt: "2018-12-13T14:50:28.333Z"
updatedAt: "2018-12-13T15:14:47.230Z"
type: "MARKDOWN_NOTE"
folder: "7676c5f4ba095bfa1ac9"
title: "Qt介绍"
content: '''
  # Qt介绍
  1. 下载[Index of /official_releases/qt/5.6/5.6.0](http://download.qt.io/official_releases/qt/5.6/5.6.0/)
  2. 简单资源[《Qt 实战一二三》 - 欢迎关注微信公众号：高效程序员 - CSDN博客](https://blog.csdn.net/liang19890820/article/details/50277095#%E7%AE%80%E4%BB%8B)
'''
tags: []
isStarred: false
isTrashed: false
