createdAt: "2018-10-08T02:55:50.429Z"
updatedAt: "2018-10-08T09:04:30.412Z"
type: "SNIPPET_NOTE"
folder: "be96790ae5c9e05f450a"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: true
