createdAt: "2018-10-08T09:01:23.952Z"
updatedAt: "2018-10-08T09:02:25.446Z"
type: "SNIPPET_NOTE"
folder: "be96790ae5c9e05f450a"
title: "nutz入门 副本"
tags: []
isStarred: false
isTrashed: true
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
