createdAt: "2018-10-08T11:22:41.438Z"
updatedAt: "2018-10-08T11:23:22.449Z"
type: "SNIPPET_NOTE"
folder: "be96790ae5c9e05f450a"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: true
