createdAt: "2018-10-08T09:02:44.661Z"
updatedAt: "2018-10-08T09:04:15.566Z"
type: "SNIPPET_NOTE"
folder: "be96790ae5c9e05f450a"
title: "nutz"
description: "nutz"
snippets: [
  {
    name: "*.java"
    mode: "Java"
    content: '''
       /** 
           * hello! world!
           * add by hdf when 2017 11:22
           * @return
           */
      //    @At - 入口函数对应的 URL,只有标记了这个注解的函数才被认为是入口函数,例如：
      //  @At("/my/abc")
      //    public void someFunc(){
      //    ```````
      //    }
      //  也可以为该函数声明多个 URL
      //    @At({"/my/abc", "/my/xyz"})
      //    public void someFunc(){
      //    ```````
      //    }*
          
      //    @Ok - 成功视图
      //    声明了入口函数的成功视图，即如果入口函数正常执行，
      //    将会通过这个视图将函数返回值渲染到 HTTP 响应中。 
      //    当然，如果你的函数直接返回的就是一个视图对象，
      //    那么就不会使用成功视图（而是你返回的视图对象）来渲染 HTTP 响应
          
      //    @Fail("jsp:nutztest.Hello")
      //    声明了入口函数的失败视图，即如果入口函数抛出异常，将会通过这个视图将异常渲染到 HTTP 响应中 详细的介绍
          @At("/hello")
          @Ok("jsp:nutztest.Hello")
          @Fail("jsp:nutztest.Hello")
          
          
          update qw_hlyorder inner join(select offer_id,offer_name,price,reward from qw_hlyoffer) c on A.offer_id = c.offer_id 
          set A.offer_name = c.offer_name,A.price=c.price,A.reward=c.reward;
      
      
      
      drop view qw_hly_order_v;
      CREATE VIEW qw_hly_order_v AS
      SELECT d.id as oid,a.uid,e.name,e.branch_id,a.region,a.idcard,d.offer_id,f.offer_name,d.price,d.reward,a.created_at,a.updated_at,
      b.booking_id,b.delivery_addr,b.acc_nbr,
      b.delivery_name,b.contact_name,contact_phone,b.delivery_period,b.code,b.express,b.expinfo,b.expstatus,
      b.hkstatus,d.respid,d.market_sale_id,d.delivery_type,d.deliveryid,d.respcode,d.respmsg
      FROM qw_hlyorder d, qw_hlydelivery b,qw_hlylockednum a,qw_member e,qw_hlyoffer f
       WHERE a.telnum=b.acc_nbr AND d.acc_nbr=b.acc_nbr AND d.booking_id=b.booking_id AND a.uid=e.uid
       and d.offer_id=f.offer_id
       
       
       139.224.59.94
       112.124.105.0
    '''
  }
]
tags: []
isStarred: false
isTrashed: true
