createdAt: "2018-10-14T10:54:26.922Z"
updatedAt: "2018-10-14T10:55:10.424Z"
type: "MARKDOWN_NOTE"
folder: "545ee5f1fcb7e929627b"
title: "wagtail学习"
content: '''
  # wagtail学习
  [GitHub - wagtail/wagtail: A Django content management system focused on flexibility and user experience](https://github.com/wagtail/wagtail)
  
  
'''
tags: []
isStarred: false
isTrashed: false
