createdAt: "2018-10-14T00:05:37.930Z"
updatedAt: "2018-10-14T10:57:00.764Z"
type: "MARKDOWN_NOTE"
folder: "00f6276eea4c5c719915"
title: "django资源推荐"
content: '''
  # django资源推荐
  最受人喜爱的开源 Django 包
  Django 围绕“可重用应用[1]”的思想建立：自包含的包提供了可重复使用的特性。你可以将这些可重用应用组装起来，在加上适用于你的网站的特定代码，来搭建你自己的网站。Django 具有一个丰富多样的、由可供你使用的可重用应用组建起来的生态系统——PyPI 列出了超过 8000个 Django 应用[2]——可你该如何知道哪些是最好的呢？
  
  为了节省你的时间，我们总结了五个最受喜爱的 Django 应用。它们是：
  
  Cookiecutter[3]: 建立 Django 网站的最佳方式。
  Whitenoise[4]: 最棒的静态资源服务器。
  Django Rest Framework[5]: 使用 Django 开发 REST API 的最佳方式。
  Wagtail[6]: 基于 Django 的最佳内容管理系统（CMS）。
  django-allauth[7]: 提供社交账户登录的最佳应用（如 Twitter, Facebook, GitHub 等）。
  
  [5 个最受人喜爱的开源 Django 包 - 生活费 - 博客园](https://www.cnblogs.com/276815076/p/5772475.html)
'''
tags: []
isStarred: false
isTrashed: false
