createdAt: "2018-12-10T00:56:36.355Z"
updatedAt: "2018-12-13T15:06:35.682Z"
type: "MARKDOWN_NOTE"
folder: "29625d2c21388c63c743"
title: "Springboot之接收json字符串"
content: '''
  # Springboot之接收json字符串
  配置fastjson
  添加fastjson的依赖到pom.xml中
  ```
  <dependency>
     <groupId>com.alibaba</groupId>
     <artifactId>fastjson</artifactId>
     <version>${fastjson.version}</version>
  </dependency>
  ```
  
  通过`@RequestBody`接收json
  直接通过`@RequestBody`的方式，直接将json的数据注入到了JSONObject里面了
  ```java
  /**
   * 创建日期:2018年4月6日<br/>
   * 代码创建:xx<br/>
   * 功能描述:通过request的方式来获取到json数据<br/>
   * @param jsonobject 这个是阿里的 fastjson对象
   * @return
   */
  @ResponseBody
  @RequestMapping(value = "/json/data", method = RequestMethod.POST, produces = "application/json;charset=UTF-8")
  public String getByJSON(@RequestBody JSONObject jsonParam) {
      // 直接将json信息打印出来
      System.out.println(jsonParam.toJSONString());
  
      // 将获取的json数据封装一层，然后在给返回
      JSONObject result = new JSONObject();
      result.put("msg", "ok");
      result.put("method", "json");
      result.put("data", jsonParam);
  
      return result.toJSONString();
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
