createdAt: "2018-11-06T01:35:41.388Z"
updatedAt: "2018-11-06T01:35:46.111Z"
type: "MARKDOWN_NOTE"
folder: "29625d2c21388c63c743"
title: "作业一：写一个Mvc框架"
content: '''
  作业一：写一个Mvc框架
  作业二：写一个apache服务器
  作业三：将Mvc框架实现annocation注解方式
  作业四：模仿monogdb写一个数据库
  作业五：模仿mybatis写一个持久层
  作业六：学习模板语言，写代码生成器
  作业七：maven工程，git学习
  作业八：工作流Activiti学习（jeecg集成activiti）
  作业九：微信开发（公众号开发+微信小程序+H5活动）
  作业十：搭建Linux分布式环境（Ngnix+Tomcat+Jdk+Redis）+ docker
  
  
  教学体系：
  
  第一阶段：Java架构基础
         指导徒弟熟练掌握Java基础(反射、xml文件处理、properties文件处理,代理机制，annocation注解)，我会推荐好的资料给于学习，同时指导什么是重点，哪些可以忽略，哪些需要了解，遇到问题，第一时间给你解答，等这一阶段结束，会进行课程设计，巩固知识，我出课题，你去实现，同时指导你去如何去实现，在实现的过程中遇到困难，难点，协助你解决。完成这个课题后，你就会对java架构基础有个初步的了解。
  
  第二阶段:  Web页面技术
        Html,css,Javascript,Jquery,Easyui,Dwz,Servlet 同样给你专业资料，让你迅速掌握知识。避免你拿起专业书，唛头啃读半月，之后发现啥也没学到。所以第二阶段目的是让徒弟掌握网页的基础知识，不需要你调出美丽的样式，只要求你能看懂html代码，css代码，javascript代码。
  
  第三阶段: 教你写MVC架构
          提供架构师级别的资料给你，结合前两个阶段的学习内容教你自己如何实现mvc架构;给你讲解hibernate和mybatis的实现原理；
  第四阶段: 三大架构技术理解
         指导你如何去快速的掌握Struts2,Hibernate,Spring当然每个框架的核心思想如果你通过我给你的资料还没有完全领悟到，我会找时间直接教你。三大框架的应用，核心思想就是比较得掌握的，如果你掌握了这三大框架的核心思想，那你以后在技术方面的路就平坦多了。
  
  第五阶段： JEECG深入使用讲解
          给你第一手学习资料，指导你学习重点，并且给你一些小实例，让你深刻体会。当然这一阶段的话，是要做课程设计的，我们一起商量，出个课题，由我来协助你完成这个S2SH应用开发。以上，是我认为学习Java web的必经之路，当然在这一路上，你会遇到的所有问题，我会尽可能快的帮你解决。但是同时提醒你，遇到问题的话，先要学着自己解决，解决不了可以来问我，这样对自己的提高比较快。
  最后说一句，师傅领进门，修行靠自己。我有能力让你从菜鸟变成小鸟，至于你能飞多高，还得靠自己。
'''
tags: []
isStarred: false
isTrashed: false
